extends partials/layout
block vars
	- var title = 'home';
block content
	.box.stretch.main
		.tint.desert
		h1 Module One
		p.
			blahblahblahblah blahblahblahblah blahblahblahblah blahblahblah 
			blahblah
	.box
		.overlay.slate
		h1 Module 2
		p.
			blahblahblahblah blahblahblahblah blahblahblahblah blahblahblah 
			blahblah
	.box
		h1 Module 3
	.box
		h1 Module 4
	.box
		h1 Module 5