// #5C258D
// #4389A2
$dr-main ?= #f4f4f4
$dr-red ?= #CE313B
$dr-orange ?= #EECA44
$dr-slate ?= #556271
.desert
  background: linear-gradient(135deg, rgba($dr-red, .9) 0%,rgba($dr-orange, .9) 100%)
.slate
  background: rgba($dr-slate,.9)
.light
  background: rgba(#ffffff,.9)