doctype html
html(lang="en")
    block vars
    head
        // Basics
        meta(charset='utf-8')
        title Twearkit | #{title}
        meta(name='description', content='')
        meta(name='author', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        // Styles
        link(rel='stylesheet', href='css/main.css')
    body(class='#{title}')
        include header
        block content
        include footer
        //Scripts
        //script(src="js/plugins/scrollReveal.js")
        script(src='js/custom.js')
        //- script(type="text/javascript").
        //-     (function($) {
        //-         window.twerk = new twerk();
        //-     })();